<div>
    <div class="electro-img-left mask">
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src="images/watch.jpg" alt="image" class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content electro-text simpleCart_shelfItem">
                    <h4>Branded Watches</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">$500</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                </div>
            </div>
        </div>
    </div>
    <div class="electro-img-btm-left mask">
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src="images/e1.jpg" alt="image" class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content electro-text simpleCart_shelfItem">
                    <h4>Mobiles</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">$500</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                </div>
            </div>
        </div>
    </div>
    <div class="electro-img-btm-right mask" >
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src="images/e2.jpg" alt="image" class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content electro-text simpleCart_shelfItem">
                    <h4>Branded Watches</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">$500</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-md-4 electro-right text-center">
    <div class="electro-img-rt mask">
        <div class="content-grid-effect slow-zoom vertical">
            <div class="img-box"><img src="images/e4.jpg" alt="image" class="img-responsive zoom-img"></div>
            <div class="info-box">
                <div class="info-content electro-text simpleCart_shelfItem">
                    <h4>Mobiles</h4>
                    <span class="separator"></span>
                    <p><span class="item_price">$500</span></p>
                    <span class="separator"></span>
                    <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>